.aboutme {
  padding: 0px 15px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  color: var(--main-color);
  animation: fadeIn 1s;
}

.aboutme-container {
  width: 1200px;
  margin: 100px 0px 0px 0px;
  background-color: #ffffff;
  border-radius: 50px;
}

.aboutme-container-body {
  padding: 20px 40px;
}

.aboutme-head {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 30px;
}

.aboutme-head--info {
  display: flex;
}

.aboutme--title,
.aboutme--subtitle {
  font-size: 28px;
  margin: auto 0px;
}

.aboutme--title {
  height: 100px;
  border-right: 3px solid var(--font-color);
}

#title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

#subtitle {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}

.aboutme--info {
  color: var(--main-color);
  font-size: 20px;
  margin: 0px 0px 30px 0px;
}

.aboutme--img {
  width: 180px;
  border-radius: 50%;
}

#profile-image {
  display: none;
}

@media screen and (min-width: 1080px) and (max-width: 1439px) {
  .aboutme {
    width: 720px;
  }

  #title {
    padding: 0;
    text-align: center;
  }

  #subtitle {
    padding-left: 50px;
  }

  .aboutme--title {
    font-size: 35px;
  }

  .aboutme--subtitle {
    font-size: 32px;
  }

  .aboutme-head--info {
    margin-right: 20px;
  }

  .aboutme--info {
    font-size: 24px;
  }

  .aboutme--img {
    width: 160px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .aboutme {
    position: initial;
  }

  #subtitle {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: 36px;
  }

  #profile-image {
    display: block;
    width: 170px;
    animation: fadeIn 1s;
  }

  .aboutme-head--info {
    display: block;
    height: 140px;
    margin-left: 22px;
  }

  #title {
    padding: 0;
    border-right: none;
    border-bottom: 3px solid var(--font-color);
    height: 50%;
    text-align: center;
    font-size: 36px;
  }

  .aboutme-container {
    background-color: transparent;
    width: 100%;
    padding: 0px 95px;
  }

  .aboutme-head {
    display: flex;
    color: #fff;
    align-items: center;
  }

  .aboutme--info {
    color: #fff;
    font-size: 24px;
  }

  .aboutme--img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .aboutme {
    position: initial;
  }

  #subtitle {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

  #profile-image {
    display: block;
    width: 170px;
    animation: fadeIn 1s;
  }

  .aboutme-head--info {
    display: block;
    height: 140px;
  }

  #title {
    padding: 0;
    border-right: none;
    border-bottom: 3px solid var(--font-color);
    height: 50%;
    text-align: center;
  }

  .aboutme-container {
    background-color: transparent;
    width: 100%;
    padding: 0px 10px;
  }

  .aboutme-head {
    display: flex;
    color: #fff;
    align-items: center;
  }

  .aboutme--info {
    color: #fff;
    font-size: 18px;
  }

  .aboutme-container-body {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  #profile-image {
    width: 105px;
  }

  #title {
    font-size: 20px;
    text-align: center;
  }

  #subtitle {
    font-size: 20px;
    text-align: center;
  }

  .aboutme-head--info {
    margin-left: 20px;
  }

  .main--info {
    font-size: 16px;
  }

  .aboutme-container {
    margin-top: 65px;
  }
}
