.contact {
  padding: 140px 30px;
  margin: 0px auto;
  animation: fadeIn 1s;
  display: flex;
  justify-content: center;
}

.contact--form {
  width: 1200px;
}

.contact--form__input {
  border: 2px solid #90a9b4;
  background-color: transparent;
  color: #90a9b4;
  border-radius: 5px;
  padding: 10px;
  font-size: 17px;
  outline: none;
  height: 20px;
  width: 100%;
  margin: 0px 0px 30px 0px;
}

#textarea {
  height: 100px;
}

.contact--form__label {
  font-size: 20px;
  line-height: 22px;
  color: var(--font-info);
}

.contact--form-container {
  margin: 0px 0px 20px 0px;
}

#required {
  color: red;
}

form {
  width: 800px;
  margin: 0px auto;
}

#sendMessage {
  animation: fadeIn 2s;
}

#sendMessage:hover {
  transition: 0.5s;
  background-color: transparent;
  border: 1px solid #d72e75;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .contact {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    width: 500px;
  }

  form {
    width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    position: initial;
  }

  .contact--form {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .contact--form__input {
    width: 92%;
  }
}

@media screen and (max-width: 480px) {
  .contact {
    padding: 100px 30px 0px;
  }

  .contact--form__label {
    font-size: 16px;
  }

  .contact--form__input {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .contact--form-container {
    margin-bottom: 10px;
  }

  .contact--form__label {
    font-size: 14px;
  }

  #required {
    font-size: 14px;
  }

  .contact--form__input {
    border: 1px solid #90a9b4;
    font-size: 12px;
  }

  #sendMessage {
    height: 45px;
    width: 112px;
    font-size: 11px;
  }
}
