footer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 40px;
  height: 35vh;
  display: flex;
  justify-content: center;
  margin: auto 20px;
}

.fab {
  font-size: 40px;
  color: var(--font-color);
  margin: 8px 0px;
}

.container-footer {
  position: fixed;
  display: grid;
}

.fab:hover {
  animation: escalation infinite;
  transition: all 0.3s;
}

@keyframes escalation {
  from {
    font-size: 30px;
  }
  to {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    position: initial;
    margin: 0px auto;
    width: 100%;
    height: 100px;
  }

  .container-footer {
    position: initial;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer--links {
    margin: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .fab {
    font-size: 28px;
  }

  .footer--links {
    margin: 10px;
  }
}
