.main {
  display: flex;
  background-color: var(--main-color);
  width: 100%;
}

.main--info {
  width: 100%;
}

.main-principal-title {
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  letter-spacing: 0.25em;
  animation: typing 3s steps(25, end), blink-caret 0.75s step-end infinite;
  width: 520px;
  color: var(--font-color);
}

.main--secondary-title {
  color: var(--font-info);
  margin: 0px 0px 40px;
  animation: born-title 1s;
  animation: fadeIn 4s;
}

/* .main--info {
  padding-right: 10px;
} */

.main--par {
  color: var(--font-info);
  margin: 0px 0px 30px;
  line-height: 30px;
  font-size: 20px;
  animation: fadeIn 4s;
}

.main--par__aboutme {
  color: #3971d8;
}

.main--button {
  height: 50px;
  width: 140px;
  align-self: center;
  border-radius: 6px;
  font-size: var(--font-size);
  color: var(--font-info);
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--font-color);
  border: none;
  letter-spacing: 0.2px;
  animation: fadeIn 4s;
  text-decoration: none;
  cursor: pointer;
}

#contact {
  background-color: var(--font-color);
  border: 1px solid var(--font-color);
  margin: 0px 10px 0px 0px;
  animation: fadeIn 4s;
}

#contact:hover {
  transition: 0.5s;
  background-color: transparent;
  border: 1px solid var(--font-color);
}

#cv {
  background-color: var(--background-boton);
  animation: fadeIn 4s;
}

#cv:hover {
  transition: 0.5s;
  background-color: transparent;
  border: 1px solid var(--background-boton);
}

.main--image__img {
  width: 200px;
  border-radius: 50%;
  animation: fadeIn 4s;
}

@keyframes typingResponsive {
  from {
    width: 0;
  }
  to {
    width: 390px;
  }
}

@keyframes typingResponsive320 {
  from {
    width: 0;
  }
  to {
    width: 285px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    justify-content: center;
  }

  .main--secondary-title {
    font-size: 32px;
  }

  .main--image img {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .main {
    width: 100%;
    height: 585px;
  }

  .main--info {
    padding-right: 20px;
    padding-left: 20px;
    width: auto;
  }

  .main-principal-title {
    animation: typingResponsive 3s steps(25, end),
      blink-caret 0.5s step-end infinite;
    width: 390px;
  }

  .container {
    padding: 0px;
    width: auto;
  }
}

@media screen and (max-width: 320px) {
  .main {
    height: 550px;
  }

  .main--info {
    padding-left: 12px;
    padding-right: 12px;
  }

  .main-principal-title {
    animation: typingResponsive320 3s steps(25, end),
      blink-caret 0.5s step-end infinite;
    font-size: 17.5px;
    width: 284px;
  }

  .main--secondary-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .main--par {
    font-size: 16px;
    line-height: 28px;
  }

  #contact {
    font-size: 9.2px;
    width: 98px;
    height: 40px;
  }

  #cv {
    height: 40px;
    width: 98px;
    font-size: 9.2px;
  }
}
