.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1200px;
  margin: auto;
  padding-top: 50px;
  animation: fadeIn 1s;
}

.skills--card {
  text-align: center;
}

.skills--card-img img {
  width: 50px;
}

.skills--card p {
  color: var(--font-info);
  font-size: 22px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
    gap: 15px;
    padding-top: 100px;
  }
}

@media screen and (max-width: 767px) {
  .skills-container {
    align-content: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-top: 70px;
  }
}

@media screen and (max-width: 320px) {
  .skills--card p {
    font-size: 14px;
  }

  .skills-container {
    padding-top: 90px;
  }

  #sendMessage {
    height: 40px;
    width: 98px;
    font-size: 9.2px;
  }
}
